<div class="body">
    <div id="myphoto"></div>
    <div>
        <h1>Hi! I'm Iago, full-stack developer.</h1>
        <nav>
            <ul>
                <li><fa-icon [icon]="faWhatsapp"></fa-icon> 647814811</li>
                <li><fa-icon [icon]="faEnvelopeSquare"></fa-icon><a href="mailto:yagogv@gmail.com" target="_blank"> yagogv&#64;gmail.com</a></li>
                <li><fa-icon [icon]="faGithub"></fa-icon><a href="https://github.com/Elegimba" target="_blank"> Github</a></li>
                <li><fa-icon [icon]="faLinkedin"></fa-icon><a href="https://www.linkedin.com/in/iago-gonz%C3%A1lez-valverder-442235332/" target="_blank"> Linkedin</a></li>
            </ul>
        </nav>
        
    </div>

</div>