<div class="body">
    <div id="myphoto"></div>
    <div>
        <h1>Hi! I'm Iago, full-stack developer</h1>
        <nav>
            <ul>
                <li><i class="fa-solid fa-user"></i>647814811</li>
                <li><i></i><a href="mailto:yagogv@gmail.com" target="_blank">yagogv&#64;gmail.com</a></li>
                <li><i></i><a href="https://github.com/Elegimba" target="_blank">Github</a></li>
                <li><i></i><a href="https://www.linkedin.com/in/iago-gonz%C3%A1lez-valverder-442235332/" target="_blank">Linkedin</a></li>
            </ul>
        </nav>
        <p>More about me:</p>
        <pre><code>const aboutMe = &#123;
    completeName: "Iago González Valverde",
    code: [Javascript, Typescript, HTML, CSS, SQL],
    technologies: &#123;
        frontEnd: &#123;
            Typescript: ["Angular"],
            css: ["Bootstrap"]
        &#125;,
        backEnd: &#123;
            js: ["Express"]
        &#125;,
        databases: ["MySQL", "MongoDB"],
        otherLibraries: ["Sequelize", "Mongoose", "Multer", "SweetAlert2", "Toastify"]
    &#125;
    currentLearning: ["React", ".NET"]
&#125;;</code></pre>
    </div>

</div>
