.body {
    padding-top: 6.25rem;
    text-align: center;
}

.content {
    color: var(--primary-text-color);
}

ul {
    padding: 0;
    max-width: 43.75rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    
    
    li {
        list-style: none;
        width: 50%;
        margin: 0.625rem 0;
        font-size: 150%;
        
        a {
            text-decoration: none;
            color: inherit;

            &:hover {
                text-decoration: underline;
                
            }
        }
    }
}

#myphoto {
    margin: 0 auto;
    background-image: url(/images/Self2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 40%;
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    background-color: #ffd4ac;
    border: 0.1875rem solid var(--border-color);
}