.body {
    margin-top: 100px;
    text-align: center;
}

ul {
    padding: 0;
    
    li {
        list-style: none;
    }
}

#myphoto {
    margin: 0 auto;
    /* background-image: url(/images/Self2.png); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 40%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #ffd4ac;
    border: 3px solid grey;
}