<div class="container">
  <router-outlet />
  
  <!-- Componente1 => con presentación -->
  <app-header></app-header>
  <!-- Componente2 => 2 cuadros, uno con el bloque de código de las tecnologías y el otro oculto en un desplegable con los idiomas y las características extras -->
  <!-- Componente3 => 2 cuadros paralelos, uno con la formación y otro con la exp -->
  <!-- Componente4 => lista de proyectos (Vídeos de youtube con la explicación de los mismos: uno del parque y otro del portf) -->
  <!-- Footer directamente aquí -->
</div>