<div class="body">
    <div class="formexp">
        <h3>Toda mi formación:</h3>
        @if(arrForm.length === 0) {
            <p>Cargando...</p>
            <p>La información se mostrará en menos de un minuto.</p>
        } @else {
            @for(form of arrForm.slice().reverse(); track form._id){
                <p><strong>{{form.title}}</strong></p>
                <p>{{form.institution}} | {{form.startYear}} @if(form.endYear){ - {{form.endYear}}}</p>
                @if(!$last) {
                    <hr>
                }
            }
        }
    </div>
    <div class="formexp">
        <h3>Toda mi experiencia:</h3>
        @if(arrForm.length === 0) {
        <p>Cargando...</p>
        <p>La información se mostrará en menos de un minuto.</p>
        } @else {
            @for(exp of arrExp.slice().reverse(); track exp._id){
                <p><strong>{{exp.title}}</strong></p>
                <p>{{exp.description}} | {{exp.startYear}} @if(exp.endYear){ - {{exp.endYear}}}</p>
                @if(!$last) {
                    <hr>
                }
            }
        }
    </div>
</div>