.formexp {
    background-color: var(--transparent-background);
    margin: 15px 0;
    padding: 10px 60px;
    color: var(--primary-text-color);

    h3 {
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) {

    .body {
        display: flex;
        justify-content: center;
        gap: 5%;

        .formexp {
            width: 90%;
        }
    }
}