.formexp {
    background-color: var(--transparent-background);
    margin: 0.9375rem 0;
    padding: 0.625rem 3.75rem;
    color: var(--primary-text-color);

    h3 {
        margin-bottom: 1.875rem;
    }
}

@media (min-width: 768px) {

    .body {
        display: flex;
        justify-content: center;
        gap: 5%;

        .formexp {
            width: 90%;
        }
    }
}